VITE_SITE_URL=https://calendario-tech.vercel.app
VITE_LUMA_CALENDAR_URL=https://luma.com/calendario-mendoza-tech
VITE_LUMA_EMBED_URL=https://luma.com/embed/calendar/cal-LHE9L5W4OFih7Fc/events?lt=dark
VITE_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSdBALewhPeX5QMzTozEE7gF0p2tUt6-kBCwCslS_MMbGMVm7g/viewform?embedded=true
VITE_GOOGLE_FORM_OPEN_URL=https://docs.google.com/forms/d/e/1FAIpQLSdBALewhPeX5QMzTozEE7gF0p2tUt6-kBCwCslS_MMbGMVm7g/viewform
